endure.io
<div id="adobe-dc-view"></div>
<script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
<script type="text/javascript">
 document.addEventListener("adobe_dc_view_sdk.ready", function(){ 
  var adobeDCView = new AdobeDC.View({clientId: "b1271124106042e099d9e44f3b9ac8a2", divId: "adobe-dc-view"});
  adobeDCView.previewFile({
   content:{location: {url: "https://documentcloud.adobe.com/view-sdk-demo/PDFs/Bodea Brochure.pdf"}},
   metaData:{fileName: "Bodea Brochure.pdf"}
  }, {});
 });
</script>
